audit-level=moderate
fetch-retries=3
fetch-retry-factor=2
link-workspace-packages=true
network-concurrency=32
prefer-workspace-packages=true

# hoist-pattern[]=@biomejs*
# hoist-pattern[]=@types*
# hoist-pattern[]=*typescript*
# hoist-pattern[]=*vite*
# hoist-pattern[]=*vitest*
